@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

* {
  font-size: 1.5rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.button {
  background-color: lightgray;
}